.dialog-bd {
    max-height: 524px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 20px;
}

.dialog-bd .tt {
    color: #333;
    font: 22px/2 "Microsoft Yahei";
    margin: 10px 0 30px 0;
    text-align: center;
}

.dialog-bd .ti {
    text-align: left;
    margin: 0 0 10px 105px;
}

.form-item {
    line-height: 32px;
    overflow: hidden;
    padding-top: 10px;
}

.form-item .form-label {
    float: left;
    text-align: right;
    width: 100px;
}

.form-item .form-input {
    float: left;
    overflow: hidden;
}

.form-item .form-input input {
    border: 1px solid #d1d1d1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #000;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    width: 230px;
}



.red, .red a:link, .red a:visited, .red a:active, .red a:hover {
    color: red;
}

.blue {
    color: #3ba3fb;
}

:link, *:visited, ins {
    text-decoration: none;
}

a {
    color: #333;
}

.form-btn {
    background: #7fd235 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-left: -60px;
    padding: 0 10px;
    text-align: center;
}
.tab-warp {
    border-bottom: 1px solid #ebebeb;
}

.gift-box .gift-way {
    border: 1px solid #ebebeb;
    padding: 10px;
    margin: 8px

}

.gift-box .qiandao-history qiandao-tran qiandao-radius {
    position: absolute;
    right: 0;
    top: 0;
}

.qiandao-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 888;
    display: none;
    width: 100%
}

.qiandao-layer-con {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    padding-top: 30px;
    border: 3px #33b23f solid;
    border-radius: 5px;
    background-color: #fff
}

.qiandao-history-layer .qiandao-layer-con {
    margin: -257px 0 0 -293px;
    width: 586px;
    height: 484px
}

.close-qiandao-layer {
    position: absolute;
    top: 13px;
    right: 0px;
    width: 40px;
    height: 1pc;
    background-position: -228px -51px
}

.qiandao-history-inf {
    margin-top: 25px;
    color: #666;
    text-align: center;
    font-size: 14px
}

.qiandao-history-inf li {
    float: left;
    width: 25%
}

.qiandao-history-inf li h4 {
    color: #33b23f;
    font-size: 40px;
    line-height: 50px
}
/* 2017-01-16 luoxue 整理 */
.tab-info-box {background-color: #FFF; padding-top: 3px; height: 510px;}
.btn_page_wrapper { width: 100%; text-align:right; background-color: #fff; padding:3px 0;}