

/********************************main*****************************************************************/
#main{ width: 950px; margin-left: auto; margin-right: auto;}
#main .date{ font-size: 12px; color:#999999; text-align: right;}
#main .t_header{ height: 28px; padding: 10px; border-top: 5px solid #c9c7c7;}
#main .t_header .t_title{ width: 110px; height: 28px;  float: left; line-height: 28px; font-weight:bold; font-size: 18px; text-align: right; color: #252c3a;}
#main .t_header a{ margin-top: 2px; padding-right: 20px; float: right; font-size: 14px; color: #7b7b7b; }
#main .t_header a:hover{ color: #d8263c; }
#main .data_header{ padding: 15px 20px; background-color: #394359; color: #fff;}
#main .data_header span{height: 20px; line-height: 20px; font-size: 20px; }
#main .data_header span:before{content: "";  display: inline-block;  width: 4px;  height: 20px; vertical-align: middle; margin-right: 10px; background: #fff;}
#main .scroll_wrapper{ overflow: hidden; margin: auto;}
#main .scroll_wrapper li{ margin-right: 13px; width: 173px; height: 260px; overflow: hidden; text-align: center;}
#main .scroll_wrapper li.last{ margin-right: 0;}
#main .scroll_wrapper p{ margin-top: 8px; font-size: 14px; color: #333333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#index_header .carousel{ width: 510px; height: 250px;}
#index_header .carousel_container{ overflow: hidden;}
#index_header ol{ height: 5px; overflow: hidden; }
#index_header ol.numbers{ position: relative; top: -20px; margin-right: 10px; float: right;}
#index_header ol.numbers span{ margin-right: 5px; padding-right: 25px; background-color: #fff; filter:alpha(opacity=80); -moz-opacity:.8; -khtml-opacity:.8; opacity:.8;}
#index_header ol.numbers span:hover,#index_header ol.numbers li.on span{ background-color: #d8203e;}
#index_header .announces{ width: 430px; height: 250px;}
#index_header ul.tab{ padding: 11px 10px 0px 20px; background: #394359;}
#index_header ul.tab li{ margin-right: 20px; padding: 5px 15px; font-size: 18px; cursor: pointer; color: #fff;}
#index_header ul.tab li.on{  background-color: #fff; color: #333333;}
#index_header .btn_more{ padding-right: 20px; font-size: 14px; color: #afb2b8;}
#index_header .btn_more:hover{ color: #fff;}
#index_header .announces .container{ height: 185px; padding: 10px 10px; background-color: #fff;}
#index_header .announces .container li{ height: 32px; line-height: 32px;}
#index_header .announces .container span{ display:block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: right; }
#index_header .announces .container span.title{ width: 360px; text-align: left;}
#index_header .announces .container li a{ font-size: 14px; color:#333333;}
#index_header .announces .container li:hover a{ color: #d8263c;}

#bbs div{ margin-top: 25px;}
#bbs ul{ padding: 10px; height: 250px; overflow: hidden; background-color: #fff;}
#bbs ul li a:hover span{ color: #d8263c;}
#bbs span{ font-size: 15px; color: #333333; line-height: 2;}
#bbs span.title{ width: 350px; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
#bbs .date{ width: 90px; float: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

#atlas{ margin-top: 20px;}
#atlas .container{ padding: 15px; height: 245px; background-color: #fff; overflow: hidden;}
#atlas .container li { float: left;}
#atlas .container img{background-color: #262d3c;}
#atlas li:hover p{ color: #d8263c;}

/*-------达人秀---------*/
div.beauty{ clear: both; margin-top:20px;}
div.beauty .content{padding: 14px; height: 353px; background-color: #fff;}
div.beauty .t_header a{ margin-top: 2px; padding-right: 20px; float: right; font-size: 14px; color: #7b7b7b;}
div.beauty .t_header a{ color: #d8263c;}
div.beauty .content div{ width: 660px;}
div.beauty div a{ display: block; color:#fff; overflow: hidden; position: relative; width: 187px; height: 171px; margin-right: 10px;}
div.beauty a.first{ display: block; color:#fff; overflow: hidden; position: relative; width: 252px; height: 353px;  margin-right: 10px;}
div.beauty a.first img{ width: 252px;height:353px}
div.beauty a.second{ width: 265px; height: 171px; margin-right: 10px;}
div.beauty a.three{height: 171px; margin-right: 10px;}
div.beauty a.four{ margin-right: 0px;}

div.beauty a.second_line{margin-top:10px;}
div.beauty a.last{ width: 265px; margin-right: 0px;}
div.beauty p{background: rgba(0,0,0,.75); position: absolute; width: 100%; padding: 0px 10px; }
div.beauty p.title{ height:28px; line-height: 28px; font-size:14px; text-align: center; overflow: hidden; bottom: 0px;}

div.beauty p{background: rgba(0,0,0,.75); position: absolute; width: 100%; padding: 0px 10px; }
div.beauty p.summary{ height: 100%; line-height: 1.6; text-align: left; top: 0; left:0; font-size:12px; display: none; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
div.beauty p.summary span{width: 67px; margin-right: 4px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
div.beauty p.summary strong{ font-size: 16px; line-height: 3; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
div.beauty a.first p.summary{ padding: 14px;}

#faq{ margin-top: 20px;}
#faq .container{padding: 10px; height: 63px; background-color: #fff; overflow: hidden;}
#faq .container a{ float: left; width: 300px; margin: 6px 1px; font-size: 15px; color: #333333; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
#faq .container a:hover{ color: #d8263c;}

/** 右边操作 **/
#right_option{display:none; position:fixed; width:74px; height:62px;　bottom:265px;　z-index:12}
#right_option a{display:block; height:62px}
#right_option a.first{margin-bottom: 10px;}
/********************************footer*****************************************************************/
#copyright{ margin-top: 50px; width: 100%; background: #2d3240;}
#copyright .wrapper{ padding:40px;}
#copyright img{ position: absolute; float: left; vertical-align: middle; margin-top: 20px;}
#copyright .info{ position: relative; float: left; left: 245px; width: 950px; padding-left: 23px; height: auto;  border-left: 2px solid #363c4c;}
#copyright .info p,#copyright .info a{ line-height: 2; margin-right: 8px; font-size: 14px; color: #888888; }
#copyright .info a:hover{ color: #d8263c;}

/********************************数据显示通用*****************************************************************/
.wrap{background-color: #fff;}
.wrap .content{ padding: 5px 20px;}
.wrap .content li{ height: 40px; line-height: 40px; border-bottom: 1px dashed #cccccc;}
.wrap .content .title{font-size: 15px; color: #333333;}
.wrap .content .title:hover{color: #d8263c;}
.wrap .content .time{font-size: 13px; color: #999999;}
.wrap .btn_page_wrapper{ float: right; margin: 40px 10px 25px 0px;}
.wrap .btn_page_wrapper a{ padding: 5px 10px; margin-right: 5px; font-size: 14px; color: #999999; border: 1px solid #cccccc;}
.wrap .btn_page_wrapper a.on,.wrap .btn_page_wrapper a:hover{ color: #fff; background-color: #b8b8b8;}

/********************************data*****************************************************************/
#data{padding: 15px 20px; background-color: #fff;}
#data h6{padding: 5px 0px; border-bottom: 2px solid #dad9d9;}
#data h6 span{ font-size: 20px; font-weight: bold; color: #252c3a;}
#data ul{padding-top: 20px;}
#data li{margin-bottom: 25px;}
#data .tag{ padding: 10px 22px; margin-right: 15px; background-color: #394359; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#data .tag a{font-size: 16px; color: #fff; }
#data .items{width: 780px;}
#data .items a{ padding: 10px; margin-right: 10px; font-size: 15px; color: #333333; }
#data .items a:hover{ background-color: #e5e5e5; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

/********************************info*****************************************************************/
#info .tab{ height: 50px; background-color: #394359;}
#info .tab a{ padding: 12px 50px; line-height: 50px; font-size: 20px; color: #dddddd;}
#info .tab li.on,#info .tab li:hover{ color: #fff; background-color: #222938;}

/********************************strategy*****************************************************************/
#strategy .btn_page_wrapper{ margin: 60px 10px 45px 0px;}

/********************************handbook*****************************************************************/
#handbook{padding: 25px 10px;}
#handbook ul li{margin-bottom: 5px;}
#handbook .tab{margin: 10px 5px 35px 5px;}
#handbook .tab a{padding: 10px 25px; margin-right: 15px; font-size: 16px; color: #fff; background-color: #bbbbbb; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#handbook .tab a.on,#handbook .tab a:hover{background-color: #394359;}
#handbook .btn_page_wrapper{margin: 25px 0px 0px 0px;}
#handbook ul li:hover .role_name{color: #d8263c;}
#handbook img{background-color: #262d3c;}

/********************************article*****************************************************************/
#article .tab{padding: 15px 20px; background-color: #394359;}
#article .tab a,#article .tab span{ font-size: 16px; color: #cccccc;}
#article .container{padding: 40px 20px; background-color: #fff;}
#article .container .title{ margin-bottom: 13px; font-size: 24px; color: #333333; text-align: center;}
#article .container .sub_title{ margin-bottom: 30px; font-size: 14px; color: #999999; text-align: center;}
#article .container img{clear: both; display: block; margin:auto;}
#article .tab a:hover{ border-bottom: 1px solid #cccccc;}

/********************************ranking*****************************************************************/
#ranking{padding: 30px 30px 0px 30px;  background-color: #fff;}
#ranking div{width: 430px; margin-bottom: 20px; border: 1px solid #e2e2e2;}
#ranking .rank_title{text-align: center; height: 45px; line-height: 45px; font-weight:bolder; color:#333333; font-size:16px; background-color: #f7f7f7; border-bottom: 1px solid #e2e2e2;}
#ranking .title{margin: 4px 15px;}
#ranking ul{margin: 5px 15px 15px 15px;}
#ranking .title{height: 35px; line-height: 35px; border-bottom: 1px dotted #cccccc; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
#ranking .title span{ font-size:15px; color: #333333; }
#ranking ul li{ height: 35px; line-height: 35px;}
#ranking ul span{ font-size:14px; color: #333333;}
#ranking .no i{position:relative; width: 20px; height: 20px; line-height: 20px; margin-right: 60px; text-align: center; font-size: 14px; color: #ffffff; background-color: #c2c2c2; float: left;}
#ranking .no{position:relative; width: 60px; float: left;}
#ranking ul .no{padding-top: 8px;}
#ranking .user{width: 120px; float: left; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
#ranking .server{width: 160px; float: left; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
#ranking .level{width: 60px; float: right;}
#ranking .level label{float: right;}

/********************************充值页面*****************************************************************/
#pay{background-color: #fff; padding-bottom: 50px;}
#pay .new-select .search {display: inline-block; margin-left: 5px; width: 77px; height: 27px; text-align: center; line-height: 27px; border: #cccccc 1px solid; background: #f2f2f2; font-size: 14px; color: #333333;}
#pay .new-select{ margin: 15px 0 30px 0px; }
#pay .new-select input {width: auto; height: 27px; line-height: 27px; border: #cccccc 1px solid; -moz-box-sizing: border-box; box-sizing: border-box;}
#pay .c-title h3 {padding-bottom: 10px; text-align:left !important; font-size: 15px !important; color: #333333; font-weight: 600;border-bottom: 1px dotted #cdcdcd;}
#pay .c-select { overflow: hidden; margin: 15px 0 30px 0;}
#pay .c-select select { width: 180px; height: 27px; line-height: 27px; font-size: 12px; color: #333333; border: #cccccc 1px solid;}
#pay .c-select .search:hover {color: #d8263c;}
#pay span.tip {font-size: 90%;margin-left: 10px;color: #f00;}
#pay .c-select li {background:none !important;border:none !important;width:170px;float: left;margin: 0 15px 15px 0;}
#pay .c-select li .sel {float: left; padding: 0 8px; width: 186px; height: 40px; line-height: 40px; text-align: center; color: #333333; background: #f4f4f4; border: #dcdcdc 1px solid;}
#pay .pay_c {border: 1px solid #e2e2e2;width: 142px;display: block;margin: 0 10px 10px 0;color: #fff;height: 42px;position: relative;text-align: center;float: left;line-height: 42px;}
#pay div.ch_box {border: 2px solid #d8263c;padding: 15px 0;box-shadow: 1px 2px 1px #eee;background: #fefefe;display:none; margin-bottom: 30px;}
#pay div.ch_box a {margin: 3px 10px 5px 20px;display: block;width: 126px;height: 33px;float: left;border: 1px solid #ececec;box-shadow: 1px 1px 1px #efefef;}
#pay div.remit h3 {font-size: 14px;}
#pay .c-btn a {display: block; margin-bottom: 25px; width: 160px;height: 44px;text-align: center;line-height: 44px; background-color: #df344a; border-radius: 3px; font-family: "Microsoft Yahei";font-size: 16px;color: #fff;}
#pay div.remit a {display: inline;border: 0;padding: 0;margin: 0;width: auto;height: auto;box-shadow: none;float: none;}
#pay div.remit h3{margin-top:0 !important;text-align:left !important;font-size:14px !important;}
#pay div.remit h3,div.remit table{margin:0 20px;line-height:25px}
#pay .m-box {padding: 10px 30px;}
#pay .title-3 {position: relative;padding-left: 10px;height: 37px;line-height: 37px; color: #333333; border-top: #d8263c 3px solid; background: #f4f4f4;margin-bottom:25px;}
#pay .title-3 h2{ font-size: 16px; font-weight: 600;}
#pay .pay-intro {font-size:15px;}
#pay .pay-intro .info{border:none !important;padding:5px;font-size:14px;}
#pay .pay-intro .info h3{text-align:left !important;color:red !important;font-size:15px !important;}
#pay .pay-intro p,.pay-intro li {font-size: 90%;margin: 0 20px 10px 20px;color: #333333;line-height: 1.3;}
#pay .pay-intro .info p{line-height:30px !important}
#pay .pay-intro li{background:none !important;border:none !important;}
#pay .pay_c img {margin-top:5px;width: 122px;height: 32px;}
#pay .money_err, .usr_err, .ch_err {background-color: #ffe; border: 1px dashed #f9c943; clear: both; height: auto; margin: 10px 0px; text-align: center; padding: 8px; display: none;}
#pay ul.money_box a.hover {border: 2px solid #d8263c;}
#pay .c-select li {float: left; width: 213px; height: 40px; background: #f4f4f4; border: #e2e2e2 1px solid;}
#pay .c-select li.last{float: right; width: 190px;}
#pay div.ch_box a.hover {border: 1px solid #d8263c;}
#pay a.pay_hover {border: 1px solid #d8263c;box-shadow: 1px 2px 1px #eee;}
#pay .c-ti h3 {padding-bottom: 10px; text-align:left !important; font-size: 15px !important; color: #333333; font-weight: 600;border-bottom: 1px dotted #cdcdcd;}
.c-put { font-size: 14px;overflow: hidden;margin: 15px 0 30px 0;}
.c-put input { padding-left: 5px;width: 154px;height: 28px;line-height: 24px;line-height: 24px;border: #c1cac1 1px solid;}
span.put { font-size: 90%;margin-left: 10px;color: #adbeb3;}

#pay_remit{ line-height: 2; color: #737373; padding-bottom: 50px; background-color: #fff;}
#pay_remit h2{ height: 40px; line-height: 40px; font-size: 16px; padding-left: 45px; margin: 30px 0px 10px 0px; background: #232323; color: #fff;}
#pay_remit p.bank_info{ margin: 15px;padding: 15px; border:2px dashed #c4222e;}
#pay_remit p.t_center{ text-align: center;}
#pay_remit a{color:#d8263c; border-bottom:1px dashed #d8263c;}
#pay_remit p.p_tip_1{ color: orange;}
#pay_remit p.p_tip_2{ color: #f00;}
